


body {
  background-image: linear-gradient(rgba(34, 16, 11, 0.35), rgb(25, 11, 7, 0.40)), url("/static/img/background1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}


.light {
  font-size: 17px;
  color: rgb(250, 222, 175);
  float: right;
  margin-left: 5px;
  margin-top: 15px;
  padding-top: 0%;
  padding-bottom: 0%;
}

.center {
  text-align: left;
  font-size: 25px;
}

.backfill {
  background-color: rgba(75, 31, 4, 0.25);
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: rgba(75, 31, 4, 0.20);
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0%;
  padding-bottom: 0%
}

li {
  float: left;
}

li a {
  display: block;
  color: rgba(96, 129, 148, 0.99);
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 20px;
}

li b {
  display: block;
  color: red;
  text-align: right;
  padding: 10px 64px;
  text-decoration: none;
  
}

li a:hover {
  background-color: rgba(75, 31, 4, 0.35);
  color: rgba(96, 129, 148, .85);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: bold;
  color: rgba(96, 129, 148, .85);
  background-color: rgba(75, 31, 4, 0.35);
  text-align: center;
  padding-top: 1%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: rgba(96, 129, 148, .85);
  text-align: left;
  padding-top: 1%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}