{% extends 'base.html' %}
{% block title %}Palm Oil Results{% endblock %}

{% block body %}

<!DOCTYPE html>

<html>
<head>
  <title> Palm Oil Results</title>
  <!-- <link rel="stylesheet" href="static/style.css"> -->

</head>


<body>

  <h1>Alternatives</h1>

  <br>
  {% for result in all_alternatives %}
  <a> Product: {{result.Name}}: {{result.Descriptor}} </a> 
    
    {% if email  %}
    <br>
    <form action="/alternatives">
      <button type="submit" name="saveAlternative" value="{{session['email']}}">Save Alternative</button>
      </a>
      <br>
      {% else %}
      <form action="/alternatives">
        <button type="submit" name="dontsaveAlternative" >Login to Save Alternative</button>
    </form>
    {% endif %}
  <br>
  <a> Brand Owner: {{result.Brand_owner}}</a>
  <br>
  <a> Fdc_id: {{result.Fdc_id}} </a>
  <br>

  </a>
  <br> 
  <a> All Ingredients: {{result.Ingredients}}</a>
  <br>
  <br>
  <br>
  {% endfor %}
</a>
<br>
<br>
</body>
</html>

{% endblock %}
