{% extends 'base.html' %}

{% block body %}

<!DOCTYPE html>

<html>
  <head>
    <title> Forgot Password</title>
  </head>
  <!--not implemented  -->
  <body>
    <h2>Reset Your Password</h2>
      <div class = "light">
  
        <form action="/forgot_password">

          <input placeholder= "Email" type="text" name="email">
          <br>
          <input placeholder= "Type the Password" type="password" name="password">
          <br>
          <input placeholder= "Retype the Password"type="password" name="password2">
          <br>
          <input type="submit"> 
        </form>
      </div>
  </body>
</html>

{% endblock %}
