{% extends 'base.html' %}

<!-- {% block title %}Palm Oil Home{% endblock %} -->
{% block body %}

<!DOCTYPE html>


<html>
<head>
  <title> Information</title>
  <!-- <link rel="stylesheet" href="definestatic/style.css"> -->
</head>


<body>
<h2>Frequently Asked Questions</h2>

<p>What is palm oil? What is the issue with it?</p>
<p>What are the alternative names for palm oil?</p>
<p>Which animals are endangered as a direct result of palm oil?</p>
<p>How much land is being used for palm oil? How has this changed over the years?</p>
<p>     There is about 19 million hectares or 47 million acres of land being used for palm oil production.
         This is 3 times more than when it was 6 million hectares or 15 million acres in 1990</p>
<div><iframe src="https://ourworldindata.org/grapher/land-use-palm-oil?tab=chart&time=1978..latest&country=OWID_WRL~South+America~South+Eastern+Asia~Oceania~Africa~Americas" loading="lazy" style="width: 50%; height: 500px; border: 0px none;"></iframe></div>
<p>What is Certified Sustainable Palm Oil (CSPO)? Why isn't buying CSPO the answer?</p>

<p>What are some additional resources to learn more about Palm oil?</p>
</body>
</html>

{% endblock %}


