{% extends 'base.html' %}


{% block body %}
<!DOCTYPE html>

<html>
  <head>
    <style>
      .tiger {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url("/static/img/background3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  
    </style>
  </head>


<body class = "tiger">
  <div class="col-6 light">
  
<h2>Please Sign In</h2>
  
  <form action="/profile" method="POST">
    <input type="text" name="email" placeholder="Email">
    <br>
    <input type="password" name="password" placeholder="Password">
    <br>
    <input type="submit">

    <br>
    <br>
      <span><a href="forgot_password">Forgot Password?</a></span>
      <br>
      <span>Don't have an account? <a href="new_user">Sign up</a></span>

  </form>
  </div>
</body>
</html>

{% endblock %}
