{% extends 'base.html' %}

{% block body %}
<!DOCTYPE html>

<html>
  <head>
    <title> New User Sign Up </title>
  </head>
  
  
  <body class = "tiger">
    <div class="light">
      <h2>Create an Account</h2>
        <br>
      <form action="/new_user" method="POST">
        <input type="text" name="first_name" placeholder="First Name">
          <br>
        <input type="text" name="last_name" placeholder="Last Name">
          <br>
        <input type="text" name="email" placeholder="Email">
          <br>
        <input type="password" name="password" placeholder="Type a Password">
          <br>
        <input type="password" name="password2" placeholder="Retype Password">
          <br>
        <input type="submit">
          <br><br>
      </form>
    </div>
  </body>
</html>

{% endblock %}
