{% extends 'base.html' %}

{% block body %}
<!DOCTYPE html>

<html>
  <head>
    <title> Palm Oil News</title>
  </head>

  <body class = "rhino">
    <div class ="col-3"></div>
      <div class="col-6 light">
        <h2 class = "text-center">Palm Oil News</h2>
          <br><br>
        <a>CNN Special Report</a><br>
        <a>Borneo is burning; How the world’s demand for 
          palm oil is driving deforestation in Indonesia
        </a><br>
        <a href= "https://edition.cnn.com/interactive/2019/11/asia/borneo-climate-bomb-intl-hnk/">
          <img src= "/static/img/borneo.jpg" width= 85%></a>
          <br><br><br><br>

            {% for article in all_articles %}
              <a>{{article.news_source}}</a>
                <br>
              <a> {{article.title}} </a>
                <br> 
              <a href={{article.url}}> <img src= {{article.urlimage}} width= 85%>
              </a>
                <br><br><br><br>
            {% endfor %}
      </div>
  </body>
</html>

{% endblock %}
