{% extends 'base.html' %}

{% block body %}

<!DOCTYPE html>

<html>
  <head>
    <title> Your Profile</title>
  </head>

  <body class = "tiger">
    <div class="col-6 light">
      <h2>{{user}}'s Saved Products</h2>
        <br>
          {% if favorites != [] %}
            {% for favorite in favorites %}
              <div class="container-fluid">
                <div class="row">
                  <div class="col-4">
                   <a>{{favorite.name}}: {{favorite.descriptor}}</a> 
                    <br>
                   <a> Brand Owner: {{favorite.brand}}</a>
                    <br><br>
                  </div>
                    <div class="col-8">
                      <a> Ingredients: 
                        <font size="-4">{{favorite.ingredients}}
                        </font>
                      </a>
                        <br><br>
                    </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
  </body>
</html>

{% endblock %}